@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import './base/settings';
@import './base/base';
@import './components/vizBase';
@import './components/contacts';