html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: $m-size;
  background-color: $light-grey;
}

h1 {
    font-weight: 500;
    color: black;
}

p {
    color: $dark-grey;
}